.create_post {
  text-align: center;
}

.create_post h2 {
  font-size: 2.2em;
}

.create_post p {
  color: #aaa;
  margin-bottom: 2em;
}

::-webkit-scrollbar {
  width: 0px;
}

.content_box_size {
  overflow: auto;
  color: #262626;
  min-height: 100px;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
}