.reset_password {
  text-align: center;
  padding-top: 15px;
}

.reset_password h3 {
  padding-bottom: 15px;
}

.reset_password h4 {
  padding-top: 15px;
  color: #737373;
}

.reset_password {
  color: #000000;
}

.input_container,
.btn_container {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_container {
  height: 100%;
}

.btn_reset,
.btn_reset_disable {
  background-color: #4cb5f9;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 150px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
}

.btn_reset_disable {
  cursor: auto;
  width: 200px;
  background-color: #737373;
}

.btn_reset:hover {
  background-color: #0095f6;
  color: #fff;
}

.btn_reset_disable:hover {
  color: #fff;
}

.p_link {
  padding-top: 15px;
}